/* Tetrominoes */

#iblock, #jblock, #lblock, #oblock, #sblock, #tblock, #zblock {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
    cursor: pointer; cursor: hand;
}
#iblock.rotate90, #jblock.rotate90, #lblock.rotate90, #oblock.rotate90, #sblock.rotate90, #tblock.rotate90, #zblock.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
#iblock.rotate180, #jblock.rotate180, #lblock.rotate180, #oblock.rotate180, #sblock.rotate180, #tblock.rotate180, #zblock.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#iblock.rotate270, #jblock.rotate270, #lblock.rotate270, #oblock.rotate270, #sblock.rotate270, #tblock.rotate270, #zblock.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

/* Archive (stolen from markdotto.com/mdo.css)
-------------------------------------------------- */

.archive {
  margin-bottom: 3rem;
}

.archive-item {
  margin-bottom: 1rem;
  overflow: auto; /* clearfix */
}

.archive-item + .archive-year {
  margin-top: 2rem;
}

.archive-date {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 34rem) {
  .archive-item {
    margin-bottom: .5rem;
  }
  .archive-date {
    float: right;
    margin-left: 1rem;
  }
}

/* see all posts */

a.sap   { color: #a6e1ff; text-transform: none; font-size:1.5em; font-weight:bold;}
a.sap:hover {color: #40bfff;}

